In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

#load initial csv
initial_data = pd.read_csv('Taxi_Trips.csv')


#select desired rows
cab_fare_df = initial_data.iloc[: ,[2,3,4,5,10,13,16,17,18,20,21]]
#print(cab_fare_df.columns)

#print(cab_fare_df.dtypes)
#print(cab_fare_df.describe)

#drop rows with NA values
cab_fare_df = cab_fare_df.dropna()

#drop duplicates
cab_fare_df.drop_duplicates(inplace = True)

#print(cab_fare_df.head(5))

777204

In [30]:
#filtering out problematic rows

#filter latitudes outside of continental US
cab_fare_df = cab_fare_df[(cab_fare_df.iloc[:, 7].between(25.0, 49.0)) & (cab_fare_df.iloc[:, 9].between(25.0, 49.0))]

#filter longitudes outside of continental US
cab_fare_df = cab_fare_df[(cab_fare_df.iloc[:, 8].between(-125, -67)) & (cab_fare_df.iloc[:, 10].between(-125, -67))]

#filter miles
cab_fare_df = cab_fare_df[cab_fare_df['Trip Seconds'].between(120.0, 21600.0)]

#filter seconds
cab_fare_df = cab_fare_df[cab_fare_df['Trip Miles'].between(1.0, 1000.0)]
#print(cab_fare_df.head(5))

In [31]:
#sum fare and extras columns 
cab_fare_df['Trip Cost'] = cab_fare_df['Fare'] + cab_fare_df['Extras']

In [33]:
#convert timestamp columns

cab_fare_df['Trip Start Timestamp'] = pd.to_datetime(cab_fare_df['Trip Start Timestamp'], format="%m/%d/%Y %I:%M:%S %p")
#cab_fare_df['Trip End Timestamp'] = pd.to_datetime(cab_fare_df['Trip End Timestamp'])

#create month column 
cab_fare_df['Month'] = cab_fare_df['Trip Start Timestamp'].dt.month

#create hour column
cab_fare_df['Hour'] = cab_fare_df['Trip Start Timestamp'].dt.hour 

print(cab_fare_df.head(5))
print(cab_fare_df.count)

  Trip Start Timestamp      Trip End Timestamp  Trip Seconds  Trip Miles  \
1           2024-03-01  03/01/2024 12:15:00 AM         900.0        3.00
3           2024-03-01  03/01/2024 12:30:00 AM        1770.0       13.36
4           2024-03-01  03/01/2024 12:15:00 AM         849.0        6.13
6           2024-03-01  03/01/2024 12:15:00 AM        1416.0       11.17
7           2024-03-01  03/01/2024 12:15:00 AM        1553.0       13.21

    Fare  Extras                    Company  Pickup Centroid Latitude  \
1  12.00     0.0  Taxi Affiliation Services                 41.901207
3  34.75     4.0                   Sun Taxi                 41.980264
4  18.51     0.0                5 Star Taxi                 41.899602
6  29.75     0.0                5 Star Taxi                 41.874005
7  34.00     4.0               City Service                 41.980264

   Pickup Centroid Longitude  Dropoff Centroid Latitude  \
1                 -87.676356                  41.899602
3                 -87.913625                  41.965812
4                 -87.633308                  41.965812
6                 -87.663518                  41.874005
7                 -87.913625                  41.947792

   Dropoff Centroid Longitude  Trip Cost  Month  Hour
1                  -87.633308      12.00      3     0
3                  -87.655879      38.75      3     0
4                  -87.655879      18.51      3     0
6                  -87.663518      29.75      3     0
7                  -87.683835      38.00      3     0
<bound method DataFrame.count of        Trip Start Timestamp      Trip End Timestamp  Trip Seconds  Trip Miles  \
1                2024-03-01  03/01/2024 12:15:00 AM         900.0        3.00
3                2024-03-01  03/01/2024 12:30:00 AM        1770.0       13.36
4                2024-03-01  03/01/2024 12:15:00 AM         849.0        6.13
6                2024-03-01  03/01/2024 12:15:00 AM        1416.0       11.17
7                2024-03-01  03/01/2024 12:15:00 AM        1553.0       13.21
...                     ...                     ...           ...         ...
865242           2024-01-01  01/01/2024 12:00:00 AM         347.0        1.17
865243           2024-01-01  01/01/2024 12:15:00 AM        1193.0       10.58
865244           2024-01-01  01/01/2024 12:45:00 AM        3059.0       17.44
865245           2024-01-01  01/01/2024 12:30:00 AM        1369.0        3.07
865246           2024-01-01  01/01/2024 12:15:00 AM         648.0        1.49

         Fare  Extras                    Company  Pickup Centroid Latitude  \
1       12.00     0.0  Taxi Affiliation Services                 41.901207
3       34.75     4.0                   Sun Taxi                 41.980264
4       18.51     0.0                5 Star Taxi                 41.899602
6       29.75     0.0                5 Star Taxi                 41.874005
7       34.00     4.0               City Service                 41.980264
...       ...     ...                        ...                       ...
865242   6.25     0.0       Chicago Independents                 41.944227
865243  28.00     6.0                  Flash Cab                 41.792592
865244  50.75     4.0               City Service                 41.979071
865245  14.50     1.0           Medallion Leasin                 41.899602
865246   7.75     1.0           Medallion Leasin                 41.899602

        Pickup Centroid Longitude  Dropoff Centroid Latitude  \
1                      -87.676356                  41.899602
3                      -87.913625                  41.965812
4                      -87.633308                  41.965812
6                      -87.663518                  41.874005
7                      -87.913625                  41.947792
...                           ...                        ...
865242                 -87.655998                  41.922686
865243                 -87.769615                  41.874005
865244                 -87.903040                  41.884987
865245                 -87.633308                  41.901207
865246                 -87.633308                  41.874005

        Dropoff Centroid Longitude  Trip Cost  Month  Hour
1                       -87.633308      12.00      3     0
3                       -87.655879      38.75      3     0
4                       -87.655879      18.51      3     0
6                       -87.663518      29.75      3     0
7                       -87.683835      38.00      3     0
...                            ...        ...    ...   ...
865242                  -87.649489       6.25      1     0
865243                  -87.663518      34.00      1     0
865244                  -87.620993      54.75      1     0
865245                  -87.676356      15.50      1     0
865246                  -87.663518       8.75      1     0

[565984 rows x 14 columns]>